#boot, #java, #sql, 
#js, #react, #py, #php{
    position: relative;
    display: flex;
    height: 60px;
    width: 60px;
    margin: 10px;
    transition: all 0.5s ease;
}

#sql:hover{
    transform: scale(1.3);
}

#php:hover{
    transform: scale(1.3);
}

#py:hover{
    transform: scale(1.3);
}

#boot:hover{
    transform: scale(1.3);
}

#java:hover{
    transform: scale(1.3);
}

#js:hover{
    transform: scale(1.3);
}

#react:hover{
    transform: scale(1.3);
}